.skeleton-row {
  align-items: center;
}

.skeleton {
  background: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.2s infinite linear;
}

.skeleton.box {
  height: 20px;
  width: 100%;
}

.skeleton.image {
  height: 50px;
  width: 50px;
}

.skeleton.small {
  width: 20px;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
